<div class="heading">
    <h2>Channels</h2>
    <mat-icon (click)="openCreateChannelDialog()" matTooltipClass="custom-tooltip" matTooltipPosition="above"  matTooltip="Channels hinzufügen">add</mat-icon>
</div>

<p  *ngFor="let channel of cs.allChannels" (click)="openChannel(channel.channelID)" class="single-channel-nav">
    # {{channel.channelName}}
    <br>
</p>



<p (click)="openChannel(-1)" class="single-channel-nav">

    # Allgemein (hard code)
</p>

<p  (click)="openChannel(-2)" class="single-channel-nav">
    # Angular (hard code)
</p>

<p (click)="openChannel(-3)" class="single-channel-nav">
    # HTML/CSS (hard code)
</p>

<!-- <app-dog-card *ngFor="let i of [0,1,2,3,4,5]" [imgSrc]="postImgs[i]" [text]="postTexts[i]"> -->
