<div (mouseover)="setShowToolBar(true)" (mouseleave)="setShowToolBar(false)" >
 
  <div class="commentaries" >
    <img src="assets/img/thread/user-24.png" />
    <div class="dateStyle">
      <div>
        <span class="fondStyle1">Hans Meier</span><span class="fondStyle2">17. Juni um 22:58 Uhr</span>
      </div>
      <p class="textStyle">{{ message }}</p>
    </div>    
  </div>
      
  <mat-toolbar *ngIf="showToolBar" class="mat-toolbar">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>  

</div>


