.treadContainer {
  position: relative;
}

.commentaries{
  position: relative;
  display: flex;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0,0.2);  
   
  img {
    width: 36px;
    height: 36px;
    border-radius: 20%;
    object-fit: cover;
  }

  .fondStyle1{
    padding-left: 12px;
    font-size: 20px;
    font-weight: bold;    
  }

  .fondStyle2{
    padding-left: 6px;
    font-size: 14px;    
    padding-top: 5px;    
  }

  .textStyle {
    margin: 0;
    padding-left: 12px;
  }

  &:hover {
    cursor: pointer ;
    background-color: rgba(0,0,0,0.05);    
  }  
}

.mat-toolbar {
  background-color: white;
  color: black;
  height: 34px;
  border-radius: 20px;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 22px;
}