<div class="single-chat">
    <img src="assets/img/channel/user.png">
    <div class="chat-content" *ngFor="let i = index">
        <p> Max Mustermann <span>14:42 Uhr</span></p>
        {{cs.allChannels[cs.activeChannel].threads}}
        Hallo, ich habe mein erstes Projekt beendet Wie lange dauert es, bis man für das nächste Modul freigeschaltet wird? Ich wollte gleich in das nächste Modul starten, es ist für mich aber leider noch nicht geöffnet. Vielen Dank schonmal für die Hilfe
    </div>

</div>
