.single-chat {
    display: flex;
    padding: 8px 20px;
    color: white;

    img {
        width: 36px;
        height: 36px;
        background-color: lightblue;
        border-radius: 6px;
    }

    .chat-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
    }
}