<div class="channel-topbar">
    <div class="channel-name">
        <h2># Angular</h2> <img src="assets/img/channel/arrowDown.png">
    </div>

    <div class="channel-members">
        <img src="assets/img/channel/user.png">
        <span>100</span>
    </div>
</div>
<div class="chat-container">

    <div class="chat-sub-container">

        <div class="single-chat" *ngFor="let thread of allThreads; let i = index">    <img src="assets/img/channel/user.png">
            <div class="chat-content" >
                <p> Max Mustermann <span>14:42 Uhr</span></p> {{thread.messages[0]}}  
            </div>
            </div>
        <!-- Version 0 <app-single-thread  *ngFor="let thread of allThreads; let i = index"> {{thread.messages[0]}}  </app-single-thread> -->
        <!-- <app-dog-card *ngFor="let i of [0,1,2,3,4,5]" [imgSrc]="postImgs[i]" [text]="postTexts[i]"></app-dog-card> -->
    

    </div>
    <app-chat></app-chat>
    <!-- Chat- component should be inserted here underneath -->
</div>



<!-- hamsterbook tutorial card for loop -->

<!-- <div class="flexrow">
    <div class="container">
      <app-friend-box></app-friend-box>
      <app-dog-card *ngFor="let i of [0,1,2,3,4,5]" [imgSrc]="postImgs[i]" [text]="postTexts[i]">
      </app-dog-card>
    </div>
  
    <app-proposals></app-proposals>
  </div> -->

  <!-- 
    Todos:
    1) Thread Komponente erstellen
    2) Channel component aktualisieren & mit input Variablen füllen

   -->