.thread-container{
  position: absolute;

  right:0;
  bottom: 0;
  width: 25vw;
  height: 94vh;

  // border: 2px solid blue;
  background-color: rgba(0,0,0.8);




  p {
    text-align: center;
  }

  
}